.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 115px;
}

.glass-card {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #ffffff;
  text-align: center;
}

.glass-card .header-card {
  text-align: center;
}

.header-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-card h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.summary-cards {
  display: flex;
  gap: 1rem;
}

.card {
  flex: 1;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 2rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #ffffff;
}

.card .label {
  font-size: 1.2rem;
  color: #a7a7a7;
  margin-top: 0;
}

.card .value {
  font-size: 1.3rem;
  font-weight: bold;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}